@media only screen and (max-width: 767px) {
   .card.calculators {
      margin-left: -1em;
      margin-right: -1em;
      border-radius: 0;
   }
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

input[type="number"] {
   -moz-appearance: textfield;
}