* {
   box-sizing: border-box;
}

html,
body {
   font-weight: 400;
}

body {
   overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: 400 !important; 
}

html,
body,
#root,
#root>div,
#root>div>div {
   height: 100%;
}

#root>div>div {
   display: flex;
   flex-direction: column;
}

main {
   flex: 1 0 auto;
}

footer {
   flex-shrink: 0;
}